
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

:root {
    --padding-content: 4%;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Rubik';
    background-color: rgba(0, 0, 0, 0);
}

.container {	
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.981);
}

/* TOP BAR */
.topbar {
	display: none;
}
.transparent {
	background-color: rgba(112, 74, 103, 0.7);
	backdrop-filter: blur(10px) brightness(0.4);
	border-top-left-radius: 10px;
}

.container-arrows {
	display: none;
}

/* Sidebar */
.navbar {
	display: none;
}
/* Nav top mobile */
.nav-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: rgba(255, 255, 255, 0.927);
	padding-left: var(--padding-content);
	padding-right: var(--padding-content);
	margin-top: 2vh;
	margin-bottom: 20px;
}
.nav-top div h1{
	font-size: 2rem;
}
.nav-top .cont-icons {
	display: flex;
	color: rgba(255, 255, 255, 0.927);
	justify-content: space-around;
	font-size: 2.2rem;
	gap: 15px;
}

/* Mis playlist */
.mis-playlist {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 25px;
}
.hashtags {
	display: flex;
	color: white;
	padding-left: var(--padding-content);
	gap: 10px;
}
.hashtags div {
	border-radius: 100px;
	padding: 3px 15px 3px 15px;
	background-color: #282828;
	font-size: 1.2rem;
	font-weight: 200;
}
.cont-mis-playlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
	padding-left: var(--padding-content);
	padding-right: var(--padding-content);
}
.activeHash {
	background-color:#14b038 !important;
	color:black;
}
.contenedor-playlist {
	display: flex;
	background-color: #2d2c2cc6;
    text-align: center;
	gap: 10px;
	color: white;
	border-radius: 5px;
}
.contenedor-playlist img {
	width: 50px;
	height: 100%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.nombre-playlist {
	text-align: center;
    margin: auto;
    margin-left: 0;
	font-size: 0.7rem;
}

@media only screen and (min-width: 700px) {
	.cont-mis-playlist {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}
	.hashtags div {
		font-size: 1.5rem;
	}
	.nombre-playlist {
		font-size: 1rem;
	}
}

/* Nav bottom mobile */
.nav-mobile {
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000000ea;
    color: #fff;
    text-align: center;
    z-index: 1;
    padding: 10px;
}
.nav-main-mobile {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	position: relative;
	margin: auto;
	list-style: none;
	height: 100%;
	align-items: center;
	z-index: 999;
}
.nav-mobile ul li {
	color: rgb(125, 125, 125);
	font-size: 1.8rem;
}
.nav-mobile ul li h1 {
	font-size: 12px;
	font-weight: 100;
}
.nav-main-mobile li.active {
   color: white;
}

/* Contenido principal */
.slider {
    width: 100%;
    margin: auto;
}
.main-content {
	display: flex;
	flex-direction: column;
	grid-area: main;
	padding-top: 0px !important;
}

.title-playlist {
	font-size: 2rem;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	padding-left: var(--padding-content);
	padding-bottom: 10px;
}

.title-playlist:hover {
	text-decoration: underline;
}

.container-name-concentracion,
.container-name-spotify-playlists {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
}

.container-card-concentracion,
.container-card-spotify-playlists {
	display: flex;
}
.card {
	width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.card h2 {
	font-size: 20px;
}

.card-concentracion,
.card-spotify-playlists {
	border-radius: 0.5rem;
	padding:1rem;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s ease;
	cursor: pointer;
	position: relative;
}

.card-concentracion:hover,
.card-spotify-playlists:hover {
	background-color: #282828;
}

.card-img img {
	width: 100%;
}

.card-img {
	overflow: hidden;
	border-radius: 0px !important;
}

.card h2 {
	display: none;
}

.card p {
	font-size: 1.4rem;
	color: #b3b3b3;
	font-weight: 400;
	line-height: 1.1;
	letter-spacing: 1px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	margin-top: 10px;
}


.music-player {
  display: none;
}

/* Footer */
.footer {
	display: none;
}


@media only screen and (min-width: 1000px) {
body {
	font-family: 'Rubik';
    background-color: black;
	 padding-top: 10px;
}

.container {
	display: grid;
	grid-template-columns: 30rem 1fr;
	grid-template-rows: min-content 1fr min-content;
	gap: 10px;
}

/* TOP BAR */
.topbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.4rem 1.2rem;
	background-color: #101010;
	position: fixed;
	z-index: 30;
	top: 0;
	right: 0;
	width: calc(100% - 32rem);
	margin-top: 15px;
	border-top-left-radius: 10px;
}
.transparent {
	background-color: rgba(112, 74, 103, 0.7);
	backdrop-filter: blur(10px) brightness(0.4);
	border-top-left-radius: 10px;
}

.container-arrows {
	display: flex;
	gap: 3rem;
}

.container-arrow-left,
.container-arrow-right {
	background-color: #0a0a0a;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-arrow-left i,
.container-arrow-right i {
	color: #fff;
	font-size: 1.4rem;
}

.buttons-user {
	display: flex;
	align-items: center;
	gap: 3rem;
}

.btn-register {
	color: #a7a7a7;
	font-weight: 700;
	text-decoration: none;
	font-size: 1.6rem;
}

.btn-register:hover {
	color: #fff;
	transform: scale(1.04);
}

.btn-login {
	text-decoration: none;
}

.btn-full {
	font-size: 1.6rem;
	color: #000;
	padding: 1.5rem 2rem;
	border-radius: 2rem;
	font-weight: 700;
	background-color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
}

.btn-full:hover {
	transform: scale(1.04);
}
.nav-top {
	margin-top: 70px;
	padding-left: 0;
}
.nav-top div h1 {
	font-size: 3rem;	
}
.hashtags {
	display: none;
}
.cont-mis-playlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    gap: 20px;
	padding-left: 0;
}
.contenedor-playlist {
	display: flex;
	background-color: rgba(210, 208, 208, 0.179);
    text-align: center;
	gap: 10px;
	color: white;
	border-radius: 5px;
}
.contenedor-playlist img {
	width: 60px;
}
.nombre-playlist {
	font-size: 1rem;
	font-weight: 100;
}

/* Sidebar */
.nav-mobile {
	display: none;
}
.navbar {
	background-color: rgb(24, 24, 24);
	color: #b3b3b3;
	padding-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	position: fixed;
	width: 30rem;
	height:100vh;
	border-radius: 15px;
}

.logo-svg {
	color: #fff;
	width: 18rem;
	padding: 0 2.4rem;
}

.nav-main {
	padding: 0 2.4rem;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.nav-main li {
	list-style: none;
}

.nav-main li a {
	text-decoration: none;
	font-size: 1.6rem;
	color: #b3b3b3;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 2rem;
	font-weight: 600;
	text-overflow: ellipsis;
	transition: all 0.3s ease;
}

.nav-main li a:hover {
	color: #fff;
}

.nav-main li a i {
	font-size: 2rem;
}

.extra-options {
	display: inline-flex;
	flex-direction: column;
	gap: 3rem;
	padding: 0 2.4rem;
	margin-top: 1.5rem;
	flex: 0.5;
}

.extra-options button {
	border: none;
	outline: none;
	background: transparent;
	color: #b3b3b3;
	text-align: left;
	font-size: 1.6rem;
	font-weight: 600;

	display: flex;
	gap: 1.5rem;
	cursor: pointer;
	transition: all 0.3s ease;
}

.extra-options button i {
	font-size: 2rem;
} 

.extra-options button:hover {
	color: #fff;
}

.container-links {
	display: flex;
	flex-direction: column;
	padding: 0 2.5rem;

	gap: 2rem;
	margin-bottom: 5rem;
}

.btn-language {
	border: 1px solid #727272;
	background: none;
	color: #fff;
	padding: 1rem;
	width: 18rem;
	border-radius: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	font-family: inherit;
	font-weight: 700;
	font-size: 1.3rem;
	cursor: pointer;
	transition: all 0.4s ease;
}

.btn-language:hover {
	transform: scale(1.05);
}

.btn-language i {
	font-size: 1.8rem;
}

.container-links-legal {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;

	margin-bottom: 3rem;
}

.container-links-legal a {
	text-decoration: none;
	color: #b3b3b3;
	font-size: 1.2rem;
}

/* Contenido principal */
.main-content {
	grid-row: 1/3;
	grid-column: 2/-1;
	background-color: #121212;
	padding: 2.5rem;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.title-playlist {
	font-size: 2.4rem;
	color: #fff;
	cursor: pointer;
	font-weight: 600;
	padding-left: 0px;
}

.title-playlist:hover {
	text-decoration: underline;
}

.container-name-concentracion,
.container-name-spotify-playlists {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 2rem;
}

.container-card-concentracion,
.container-card-spotify-playlists {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	gap: 2.4rem;
}

.card-concentracion,
.card-spotify-playlists {
	background-color: #181818;
	border-radius: 0.5rem;
	padding: 1.6rem;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s ease;
	cursor: pointer;
	position: relative;
}

.card-concentracion:hover,
.card-spotify-playlists:hover {
	background-color: #282828;
}

.card-img img {
	width: 100%;
	border-radius: 0.5rem;
}

.card-img {
	overflow: hidden;
}

.card h2 {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	font-size: 1.6rem;
	color: #fff;
	font-weight: 600;
}

.card p {
	font-size: 1.3rem;
	color: #b3b3b3;
	font-weight: 400;
	line-height: 1.5;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}


.music-player {
    position: fixed;
    height: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black; /* Color de fondo de la barra de reproducción */
    color: white; /* Color del texto */
    text-align: center;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.contenedor-artista-cancion {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.name-song {
    text-align: left;
}
.name-song h5, g {
	color: #a7a7a7;
	font-size: 10px;
}


.center-audio-tools {
    display: flex;
    flex-direction: column;
    width: 32%;
}
.music-tools {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: auto;
}
.music-tools button {
    background-color: none;
    border-radius: 50%;
    gap: 10px;
}

.time-song {
    display: flex;
    gap: 10px;
    align-items: center;
}

.progress-bar {
    background-color: #7e7e7e;
    width: 100%;
    height: 5px;
    border-radius: 5px;
}

.progress {
    background-color: #f1f1f1;
    width: 20%; 
    height: 100%;
    border-radius: 5px;
}


.right-tools {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 40px;
}

.audio {
    width: 100%;
}

/* Footer */
.footer {
	grid-row: 3/4;
	grid-column: 2/-1;
	color: #fff;
	background-color: #121212;
	padding: 6rem 4rem;

	display: flex;
	flex-direction: column;
	gap: 5rem;
}

.container-links-footer {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #2a2a2a;
	padding-bottom: 5rem;
}

.container-a-footer {
	display: flex;
	gap: 100px;
}

.links-footer {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	font-size: 1.4rem;
}
.icons {
    display: flex;
    flex-direction: row;
    font-size: 2.2rem;
	gap: 20px;
}
.icons a i {
    color: white;
    border-radius: 100%;
    background-color: rgb(49, 49, 49);
    padding: 8px;
}

.links-footer a {
	text-decoration: none;
	color: #a7a7a7;
}

.links-footer a:hover, .footer-copy ul li:hover {
	text-decoration: underline;
	color: #fff;
	cursor:pointer;
}

.social-icons {
	display: flex;
	gap: 2rem;
}

.container-icon {
	color: #fff;
	background-color: #292929;
	border-radius: 50%;
	width: 4.2rem;
	height: 4.2rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

.container-icon:hover {
	background-color: #727272;
}

.container-icon i {
	font-size: 1.7rem;
}


.footer-copy {
	display: flex;
	flex-direction: row;
	height: 10vh;
}

.footer-copy ul {
	display: flex;
	gap: 20px;
	color: rgb(139, 139, 139);
	font-size: 1.5rem;
}
.footer-copy ul li {
	list-style: none;
}

.clon-by {
	display: flex;
	align-items: center;
	gap: 5px;
	position: absolute;
	right: 50px;
	font-size: 1.4rem;
	color: #7e7e7e;
}

.clon-by a {
    text-decoration: none;
    color: white;
	font-size: 1.5rem;
}

.clon-by span {
	color: rgb(224, 50, 50);
	font-weight: bold;
}

}